<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dashboard :: head"><title>Invite Teachers</title></head>

<body th:replace="layout-dashboard :: body">

<div th:fragment="main" class="d-flex">

    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Invite Teachers</div>
        <div class="list-group list-group-flush h-100">
            <div th:each="link : ${sideNavLinks}">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{${link.getUrl()}}" th:text="${link.getLabel()}"></a>
            </div>
            <form th:action="@{/logout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button class="list-group-item list-group-item-action list-group-item-light p-3" type="submit">Logout</button>
            </form>
        </div>
    </div>

    <div class="main container-fluid">
        <div class="mt-5">
            <h1>Invite Teachers</h1>
            <!-- CSRF Token -->
            <form th:action="@{/admin/invite-teachers}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="specialization" class="form-label">Specialization</label>
                    <input type="text" class="form-control" id="specialization" name="specialization" required>
                </div>

                <!-- Dropdown for selecting subjects -->
                <div class="mb-3">
                    <label for="subject" class="form-label">Select Subject</label>
                    <select class="form-select" id="subject" name="subject" required>
                        <option th:each="subject : ${subjects}" th:value="${subject.subjectID}" th:text="${subject.subjectName}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Send Invite</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>

